
html, body {
  height: 100%;
  margin: 0;
  background-color: #050507;
}
body {
  font-family: 'Inter', 'Google Sans', sans-serif;
  font-size: 14px;
  overflow: hidden;
  color: #fff;
}
body.dragging {
  cursor: ns-resize;
}
body.dragging * {
  user-select: none;
  pointer-events: none;
}
* {
  box-sizing: border-box;
}
